html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1201px 917px #fff, 1061px 1280px #fff, 1487px 125px #fff,
    896px 375px #fff, 1796px 1356px #fff, 1374px 434px #fff, 1148px 693px #fff,
    198px 1691px #fff, 765px 1723px #fff, 1794px 418px #fff, 1907px 1360px #fff,
    1799px 1205px #fff, 1769px 238px #fff, 314px 565px #fff, 1659px 1853px #fff,
    1472px 1918px #fff, 568px 1048px #fff, 1448px 1580px #fff, 311px 376px #fff,
    428px 1161px #fff, 1619px 847px #fff, 400px 1322px #fff, 1775px 856px #fff,
    749px 1189px #fff, 1927px 254px #fff, 1482px 1867px #fff, 628px 1886px #fff,
    1878px 721px #fff, 1555px 506px #fff, 1003px 1881px #fff, 17px 1220px #fff,
    83px 1460px #fff, 1102px 1696px #fff, 1983px 39px #fff, 261px 1417px #fff,
    389px 1500px #fff, 869px 1147px #fff, 390px 566px #fff, 176px 1614px #fff,
    921px 531px #fff, 154px 804px #fff, 747px 1084px #fff, 564px 1825px #fff,
    1749px 1084px #fff, 1459px 587px #fff, 765px 1987px #fff, 275px 602px #fff,
    1229px 244px #fff, 1287px 1099px #fff, 335px 926px #fff, 1347px 205px #fff,
    909px 1788px #fff, 1005px 1389px #fff, 1216px 482px #fff, 54px 487px #fff,
    708px 1198px #fff, 1252px 864px #fff, 46px 1140px #fff, 369px 1331px #fff,
    1393px 1465px #fff, 1891px 590px #fff, 1713px 1389px #fff, 536px 159px #fff,
    579px 1156px #fff, 359px 526px #fff, 54px 225px #fff, 1460px 69px #fff,
    342px 903px #fff, 1480px 1018px #fff, 1382px 1858px #fff, 1288px 364px #fff,
    1933px 1778px #fff, 1492px 1044px #fff, 729px 819px #fff, 1408px 730px #fff,
    1031px 1695px #fff, 1461px 156px #fff, 741px 29px #fff, 214px 36px #fff,
    583px 1733px #fff, 184px 1219px #fff, 351px 44px #fff, 917px 445px #fff,
    1807px 205px #fff, 40px 394px #fff, 1631px 1515px #fff, 1683px 82px #fff,
    378px 1428px #fff, 917px 1785px #fff, 950px 1515px #fff, 874px 413px #fff,
    1635px 823px #fff, 762px 1311px #fff, 1694px 1270px #fff, 1575px 1678px #fff,
    460px 1485px #fff, 52px 1989px #fff, 374px 1871px #fff, 1179px 1576px #fff,
    279px 1640px #fff, 663px 92px #fff, 1779px 1074px #fff, 616px 1783px #fff,
    1585px 1876px #fff, 838px 1145px #fff, 1450px 1190px #fff, 428px 1611px #fff,
    1359px 1441px #fff, 1527px 1455px #fff, 1129px 107px #fff,
    1533px 1691px #fff, 520px 1330px #fff, 1292px 246px #fff, 1367px 1373px #fff,
    622px 1793px #fff, 479px 1464px #fff, 1821px 1913px #fff, 2px 1829px #fff,
    735px 516px #fff, 1525px 1564px #fff, 43px 1382px #fff, 91px 860px #fff,
    1407px 1504px #fff, 1377px 1968px #fff, 315px 1745px #fff, 706px 898px #fff,
    1279px 1139px #fff, 1209px 1392px #fff, 1414px 46px #fff, 490px 875px #fff,
    361px 1882px #fff, 1219px 1561px #fff, 1517px 1315px #fff, 1115px 784px #fff,
    13px 1717px #fff, 876px 1698px #fff, 215px 608px #fff, 992px 51px #fff,
    1197px 1474px #fff, 1646px 639px #fff, 1988px 1855px #fff, 295px 1509px #fff,
    1356px 1122px #fff, 1978px 1995px #fff, 1022px 1547px #fff, 427px 294px #fff,
    1571px 497px #fff, 1251px 1430px #fff, 292px 270px #fff, 1133px 1416px #fff,
    273px 1271px #fff, 1911px 1870px #fff, 1297px 685px #fff, 50px 684px #fff,
    308px 1562px #fff, 73px 1673px #fff, 1896px 106px #fff, 1580px 1888px #fff,
    702px 1839px #fff, 958px 226px #fff, 1703px 998px #fff, 1405px 1584px #fff,
    1666px 364px #fff, 1256px 1631px #fff, 1417px 1002px #fff, 862px 59px #fff,
    194px 602px #fff, 1704px 1px #fff, 1779px 970px #fff, 1006px 1307px #fff,
    1918px 1132px #fff, 1827px 1375px #fff, 755px 391px #fff, 1412px 1608px #fff,
    507px 1780px #fff, 426px 140px #fff, 1359px 714px #fff, 517px 391px #fff,
    1542px 1084px #fff, 687px 685px #fff, 1676px 1165px #fff, 157px 719px #fff,
    297px 1038px #fff, 389px 148px #fff, 326px 808px #fff, 188px 426px #fff,
    1067px 1906px #fff, 864px 535px #fff, 1471px 1954px #fff, 1278px 1500px #fff,
    348px 1957px #fff, 1911px 698px #fff, 1118px 1677px #fff, 1473px 111px #fff,
    716px 283px #fff, 1637px 103px #fff, 1842px 892px #fff, 1316px 1636px #fff,
    980px 1129px #fff, 1830px 1778px #fff, 250px 1141px #fff, 1064px 619px #fff,
    1735px 826px #fff, 164px 763px #fff, 891px 1467px #fff, 430px 1003px #fff,
    791px 1254px #fff, 370px 928px #fff, 817px 585px #fff, 1661px 1112px #fff,
    728px 1604px #fff, 1946px 1045px #fff, 772px 1223px #fff, 915px 8px #fff,
    673px 394px #fff, 247px 1124px #fff, 1412px 633px #fff, 1708px 646px #fff,
    425px 1739px #fff, 1582px 1243px #fff, 1188px 679px #fff, 705px 528px #fff,
    1849px 965px #fff, 217px 1771px #fff, 1994px 1279px #fff, 995px 1849px #fff,
    752px 1333px #fff, 798px 1877px #fff, 908px 828px #fff, 1221px 739px #fff,
    803px 1833px #fff, 276px 42px #fff, 1738px 1468px #fff, 3px 1638px #fff,
    1270px 84px #fff, 1875px 1963px #fff, 366px 1838px #fff, 1562px 666px #fff,
    783px 773px #fff, 1760px 1145px #fff, 921px 901px #fff, 1841px 1283px #fff,
    613px 921px #fff, 1585px 1516px #fff, 692px 1073px #fff, 428px 702px #fff,
    554px 1445px #fff, 717px 876px #fff, 161px 371px #fff, 999px 1537px #fff,
    1451px 1934px #fff, 418px 172px #fff, 362px 1298px #fff, 528px 247px #fff,
    696px 251px #fff, 1234px 406px #fff, 372px 449px #fff, 785px 690px #fff,
    1037px 69px #fff, 245px 251px #fff, 1741px 1337px #fff, 255px 512px #fff,
    1483px 33px #fff, 66px 1978px #fff, 1725px 347px #fff, 1622px 389px #fff,
    716px 343px #fff, 574px 1101px #fff, 1665px 748px #fff, 602px 1576px #fff,
    1570px 434px #fff, 576px 925px #fff, 148px 11px #fff, 1893px 1843px #fff,
    1098px 1099px #fff, 1151px 1214px #fff, 1888px 896px #fff, 96px 1064px #fff,
    1675px 1127px #fff, 1129px 12px #fff, 610px 611px #fff, 421px 1818px #fff,
    1813px 1285px #fff, 655px 263px #fff, 1795px 1845px #fff, 1182px 13px #fff,
    404px 680px #fff, 467px 1023px #fff, 1403px 1973px #fff, 1451px 344px #fff,
    1105px 98px #fff, 876px 1876px #fff, 886px 1707px #fff, 435px 680px #fff,
    677px 132px #fff, 328px 799px #fff, 150px 1876px #fff, 927px 1848px #fff,
    558px 1386px #fff, 1051px 1701px #fff, 1773px 1542px #fff, 1277px 48px #fff,
    956px 175px #fff, 1475px 205px #fff, 217px 897px #fff, 533px 386px #fff,
    1131px 209px #fff, 950px 527px #fff, 1738px 261px #fff, 1863px 1358px #fff,
    1095px 1125px #fff, 1688px 1613px #fff, 1473px 1202px #fff,
    538px 1416px #fff, 1967px 1173px #fff, 971px 1650px #fff, 568px 1367px #fff,
    1929px 1273px #fff, 1246px 281px #fff, 1307px 1269px #fff, 445px 1726px #fff,
    1668px 1951px #fff, 1373px 455px #fff, 1392px 1698px #fff, 293px 122px #fff,
    1982px 1238px #fff, 1231px 399px #fff, 672px 220px #fff, 521px 1604px #fff,
    1145px 1084px #fff, 1517px 798px #fff, 1792px 1583px #fff, 57px 1172px #fff,
    1745px 758px #fff, 1077px 1468px #fff, 482px 861px #fff, 1789px 914px #fff,
    1910px 1085px #fff, 822px 1069px #fff, 1008px 1776px #fff, 808px 1359px #fff,
    584px 163px #fff, 381px 967px #fff, 338px 39px #fff, 1707px 804px #fff,
    878px 1368px #fff, 88px 779px #fff, 1346px 508px #fff, 433px 1112px #fff,
    287px 1744px #fff, 1955px 1289px #fff, 276px 1341px #fff, 1415px 860px #fff,
    1182px 192px #fff, 1484px 1px #fff, 1776px 979px #fff, 1731px 159px #fff,
    822px 1313px #fff, 680px 221px #fff, 1889px 1787px #fff, 1744px 1659px #fff,
    1025px 1230px #fff, 481px 122px #fff, 1456px 1554px #fff, 1261px 741px #fff,
    1961px 1238px #fff, 1809px 43px #fff, 1445px 1397px #fff, 873px 1033px #fff,
    1628px 476px #fff, 607px 934px #fff, 647px 113px #fff, 1271px 1472px #fff,
    1047px 55px #fff, 1208px 872px #fff, 1872px 1654px #fff, 1940px 885px #fff,
    935px 1132px #fff, 513px 497px #fff, 385px 1763px #fff, 410px 1138px #fff,
    290px 1714px #fff, 962px 1920px #fff, 315px 285px #fff, 479px 1274px #fff,
    1661px 1762px #fff, 538px 1817px #fff, 783px 591px #fff, 825px 592px #fff,
    33px 557px #fff, 177px 1519px #fff, 1965px 600px #fff, 252px 1876px #fff,
    881px 1395px #fff, 1687px 1952px #fff, 516px 988px #fff, 878px 441px #fff,
    587px 1424px #fff, 830px 379px #fff, 828px 167px #fff, 1541px 477px #fff,
    944px 928px #fff, 1733px 1920px #fff, 1215px 1741px #fff, 34px 774px #fff,
    340px 1121px #fff, 1885px 1844px #fff, 1762px 100px #fff, 928px 1951px #fff,
    540px 263px #fff, 1193px 1557px #fff, 713px 1560px #fff, 1606px 134px #fff,
    496px 1319px #fff, 989px 425px #fff, 533px 1011px #fff, 494px 1430px #fff,
    138px 1559px #fff, 1265px 1165px #fff, 1163px 1744px #fff, 1960px 569px #fff,
    1807px 846px #fff, 7px 1636px #fff, 198px 300px #fff, 1156px 856px #fff,
    1172px 709px #fff, 1547px 99px #fff, 1746px 255px #fff, 940px 1178px #fff,
    1515px 1464px #fff, 57px 317px #fff, 1752px 1837px #fff, 1032px 1903px #fff,
    585px 1588px #fff, 508px 1453px #fff, 748px 689px #fff, 336px 1876px #fff,
    1281px 191px #fff, 1244px 1467px #fff, 846px 1106px #fff, 1127px 768px #fff,
    1153px 1479px #fff, 228px 444px #fff, 1247px 80px #fff, 669px 217px #fff,
    1580px 1717px #fff, 576px 1291px #fff, 664px 235px #fff, 1198px 1225px #fff,
    1164px 589px #fff, 762px 1941px #fff, 1891px 1464px #fff, 1934px 1340px #fff,
    1203px 789px #fff, 996px 15px #fff, 1398px 1803px #fff, 677px 111px #fff,
    226px 929px #fff, 1567px 329px #fff, 837px 1863px #fff, 1984px 130px #fff,
    1220px 214px #fff, 402px 1572px #fff, 1703px 1964px #fff, 859px 493px #fff,
    1360px 1610px #fff, 485px 1490px #fff, 1481px 338px #fff, 672px 246px #fff,
    547px 1829px #fff, 990px 1168px #fff, 1386px 1751px #fff, 480px 1663px #fff,
    501px 569px #fff, 197px 1607px #fff, 1983px 330px #fff, 1047px 60px #fff,
    1053px 184px #fff, 1671px 1493px #fff, 1238px 123px #fff, 1240px 627px #fff,
    654px 1498px #fff, 1007px 30px #fff, 924px 266px #fff, 1963px 213px #fff,
    597px 1930px #fff, 1080px 591px #fff, 700px 1211px #fff, 1839px 1560px #fff,
    1844px 1646px #fff, 280px 1500px #fff, 1237px 1193px #fff, 152px 1663px #fff,
    1040px 1316px #fff, 1273px 1525px #fff, 1451px 656px #fff,
    1231px 1764px #fff, 781px 1230px #fff, 385px 725px #fff, 1680px 1067px #fff,
    1584px 1481px #fff, 228px 1681px #fff, 666px 1804px #fff, 258px 50px #fff,
    168px 841px #fff, 1088px 1952px #fff, 1287px 858px #fff, 1341px 138px #fff,
    422px 1235px #fff, 19px 1708px #fff, 1109px 1103px #fff, 1886px 838px #fff,
    1139px 1390px #fff, 635px 1556px #fff, 1834px 1437px #fff, 553px 651px #fff,
    882px 637px #fff, 839px 253px #fff, 1455px 1627px #fff, 1417px 121px #fff,
    837px 1817px #fff, 391px 1922px #fff, 11px 878px #fff, 1828px 656px #fff,
    878px 106px #fff, 537px 1643px #fff, 774px 1931px #fff, 462px 1124px #fff,
    1073px 747px #fff, 825px 1640px #fff, 445px 1207px #fff, 416px 1689px #fff,
    804px 466px #fff, 392px 1591px #fff, 1348px 784px #fff, 1425px 510px #fff,
    240px 24px #fff, 1001px 874px #fff, 159px 1117px #fff, 368px 1546px #fff,
    424px 789px #fff, 364px 1579px #fff, 102px 6px #fff, 552px 1993px #fff,
    1210px 60px #fff, 1534px 1592px #fff, 75px 1863px #fff, 1057px 1308px #fff,
    286px 1890px #fff, 1089px 1327px #fff, 623px 205px #fff, 434px 1075px #fff,
    339px 675px #fff, 454px 1422px #fff, 1879px 1240px #fff, 221px 993px #fff,
    201px 1820px #fff, 1192px 452px #fff, 1266px 1664px #fff, 1726px 786px #fff,
    542px 160px #fff, 1138px 714px #fff, 736px 1734px #fff, 741px 79px #fff,
    542px 553px #fff, 1279px 390px #fff, 1398px 762px #fff, 934px 18px #fff,
    1901px 340px #fff, 284px 753px #fff, 415px 1209px #fff, 1772px 133px #fff,
    18px 1824px #fff, 1713px 1523px #fff, 1987px 289px #fff, 618px 1067px #fff,
    1683px 618px #fff, 1631px 1644px #fff, 616px 1190px #fff, 774px 1350px #fff,
    1580px 1146px #fff, 505px 1284px #fff, 415px 636px #fff, 1550px 920px #fff,
    383px 1690px #fff, 1870px 818px #fff, 1814px 646px #fff, 1231px 1153px #fff,
    518px 985px #fff, 152px 703px #fff, 1322px 1731px #fff, 1622px 49px #fff,
    1983px 400px #fff, 745px 449px #fff, 1074px 693px #fff, 980px 674px #fff,
    858px 1201px #fff, 707px 1333px #fff, 1089px 950px #fff, 502px 428px #fff,
    1204px 1435px #fff, 1788px 1308px #fff, 1552px 1450px #fff,
    1076px 872px #fff, 704px 564px #fff, 530px 1118px #fff, 524px 746px #fff,
    1296px 751px #fff, 377px 1122px #fff, 1033px 1672px #fff, 271px 1441px #fff,
    366px 841px #fff, 1740px 1692px #fff, 1534px 1266px #fff, 1866px 1919px #fff,
    468px 1888px #fff, 892px 1817px #fff, 484px 560px #fff, 420px 1417px #fff,
    1350px 1842px #fff, 1166px 928px #fff, 1935px 44px #fff, 781px 561px #fff,
    573px 1327px #fff, 129px 1027px #fff, 1861px 1104px #fff, 1145px 1710px #fff,
    1272px 689px #fff, 1614px 1555px #fff, 1129px 1641px #fff, 541px 22px #fff,
    151px 1604px #fff, 1193px 1250px #fff, 158px 1508px #fff, 133px 880px #fff,
    1067px 1922px #fff, 271px 1643px #fff, 1694px 64px #fff, 1733px 1059px #fff,
    1514px 112px #fff, 708px 1305px #fff, 1981px 108px #fff, 158px 554px #fff,
    842px 168px #fff, 1492px 1268px #fff, 1935px 570px #fff, 1340px 682px #fff,
    1929px 1184px #fff, 1704px 1319px #fff, 7px 338px #fff, 1724px 1478px #fff,
    883px 1093px #fff, 1821px 1758px #fff, 6px 1173px #fff, 861px 791px #fff,
    674px 980px #fff, 988px 1348px #fff, 1624px 1485px #fff, 1582px 1466px #fff,
    1240px 1635px #fff, 382px 1418px #fff, 1927px 1764px #fff, 700px 1390px #fff,
    766px 1132px #fff, 638px 1457px #fff, 1893px 1399px #fff, 1132px 458px #fff,
    1752px 1527px #fff, 751px 1950px #fff, 847px 1913px #fff, 1215px 213px #fff,
    238px 1032px #fff, 923px 818px #fff, 1024px 600px #fff, 1302px 800px #fff,
    1570px 651px #fff, 1477px 1877px #fff, 1052px 384px #fff, 1794px 387px #fff,
    1234px 895px #fff, 372px 1933px #fff, 1955px 1191px #fff, 1975px 102px #fff,
    1394px 15px #fff, 113px 480px #fff, 159px 649px #fff, 964px 1434px #fff,
    472px 1684px #fff, 839px 1982px #fff, 291px 1639px #fff, 1981px 374px #fff,
    1418px 1921px #fff, 1452px 1150px #fff, 312px 390px #fff, 1328px 1981px #fff,
    1608px 896px #fff, 51px 1934px #fff, 1589px 679px #fff, 1872px 1834px #fff,
    299px 1146px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1201px 917px #fff, 1061px 1280px #fff, 1487px 125px #fff,
    896px 375px #fff, 1796px 1356px #fff, 1374px 434px #fff, 1148px 693px #fff,
    198px 1691px #fff, 765px 1723px #fff, 1794px 418px #fff, 1907px 1360px #fff,
    1799px 1205px #fff, 1769px 238px #fff, 314px 565px #fff, 1659px 1853px #fff,
    1472px 1918px #fff, 568px 1048px #fff, 1448px 1580px #fff, 311px 376px #fff,
    428px 1161px #fff, 1619px 847px #fff, 400px 1322px #fff, 1775px 856px #fff,
    749px 1189px #fff, 1927px 254px #fff, 1482px 1867px #fff, 628px 1886px #fff,
    1878px 721px #fff, 1555px 506px #fff, 1003px 1881px #fff, 17px 1220px #fff,
    83px 1460px #fff, 1102px 1696px #fff, 1983px 39px #fff, 261px 1417px #fff,
    389px 1500px #fff, 869px 1147px #fff, 390px 566px #fff, 176px 1614px #fff,
    921px 531px #fff, 154px 804px #fff, 747px 1084px #fff, 564px 1825px #fff,
    1749px 1084px #fff, 1459px 587px #fff, 765px 1987px #fff, 275px 602px #fff,
    1229px 244px #fff, 1287px 1099px #fff, 335px 926px #fff, 1347px 205px #fff,
    909px 1788px #fff, 1005px 1389px #fff, 1216px 482px #fff, 54px 487px #fff,
    708px 1198px #fff, 1252px 864px #fff, 46px 1140px #fff, 369px 1331px #fff,
    1393px 1465px #fff, 1891px 590px #fff, 1713px 1389px #fff, 536px 159px #fff,
    579px 1156px #fff, 359px 526px #fff, 54px 225px #fff, 1460px 69px #fff,
    342px 903px #fff, 1480px 1018px #fff, 1382px 1858px #fff, 1288px 364px #fff,
    1933px 1778px #fff, 1492px 1044px #fff, 729px 819px #fff, 1408px 730px #fff,
    1031px 1695px #fff, 1461px 156px #fff, 741px 29px #fff, 214px 36px #fff,
    583px 1733px #fff, 184px 1219px #fff, 351px 44px #fff, 917px 445px #fff,
    1807px 205px #fff, 40px 394px #fff, 1631px 1515px #fff, 1683px 82px #fff,
    378px 1428px #fff, 917px 1785px #fff, 950px 1515px #fff, 874px 413px #fff,
    1635px 823px #fff, 762px 1311px #fff, 1694px 1270px #fff, 1575px 1678px #fff,
    460px 1485px #fff, 52px 1989px #fff, 374px 1871px #fff, 1179px 1576px #fff,
    279px 1640px #fff, 663px 92px #fff, 1779px 1074px #fff, 616px 1783px #fff,
    1585px 1876px #fff, 838px 1145px #fff, 1450px 1190px #fff, 428px 1611px #fff,
    1359px 1441px #fff, 1527px 1455px #fff, 1129px 107px #fff,
    1533px 1691px #fff, 520px 1330px #fff, 1292px 246px #fff, 1367px 1373px #fff,
    622px 1793px #fff, 479px 1464px #fff, 1821px 1913px #fff, 2px 1829px #fff,
    735px 516px #fff, 1525px 1564px #fff, 43px 1382px #fff, 91px 860px #fff,
    1407px 1504px #fff, 1377px 1968px #fff, 315px 1745px #fff, 706px 898px #fff,
    1279px 1139px #fff, 1209px 1392px #fff, 1414px 46px #fff, 490px 875px #fff,
    361px 1882px #fff, 1219px 1561px #fff, 1517px 1315px #fff, 1115px 784px #fff,
    13px 1717px #fff, 876px 1698px #fff, 215px 608px #fff, 992px 51px #fff,
    1197px 1474px #fff, 1646px 639px #fff, 1988px 1855px #fff, 295px 1509px #fff,
    1356px 1122px #fff, 1978px 1995px #fff, 1022px 1547px #fff, 427px 294px #fff,
    1571px 497px #fff, 1251px 1430px #fff, 292px 270px #fff, 1133px 1416px #fff,
    273px 1271px #fff, 1911px 1870px #fff, 1297px 685px #fff, 50px 684px #fff,
    308px 1562px #fff, 73px 1673px #fff, 1896px 106px #fff, 1580px 1888px #fff,
    702px 1839px #fff, 958px 226px #fff, 1703px 998px #fff, 1405px 1584px #fff,
    1666px 364px #fff, 1256px 1631px #fff, 1417px 1002px #fff, 862px 59px #fff,
    194px 602px #fff, 1704px 1px #fff, 1779px 970px #fff, 1006px 1307px #fff,
    1918px 1132px #fff, 1827px 1375px #fff, 755px 391px #fff, 1412px 1608px #fff,
    507px 1780px #fff, 426px 140px #fff, 1359px 714px #fff, 517px 391px #fff,
    1542px 1084px #fff, 687px 685px #fff, 1676px 1165px #fff, 157px 719px #fff,
    297px 1038px #fff, 389px 148px #fff, 326px 808px #fff, 188px 426px #fff,
    1067px 1906px #fff, 864px 535px #fff, 1471px 1954px #fff, 1278px 1500px #fff,
    348px 1957px #fff, 1911px 698px #fff, 1118px 1677px #fff, 1473px 111px #fff,
    716px 283px #fff, 1637px 103px #fff, 1842px 892px #fff, 1316px 1636px #fff,
    980px 1129px #fff, 1830px 1778px #fff, 250px 1141px #fff, 1064px 619px #fff,
    1735px 826px #fff, 164px 763px #fff, 891px 1467px #fff, 430px 1003px #fff,
    791px 1254px #fff, 370px 928px #fff, 817px 585px #fff, 1661px 1112px #fff,
    728px 1604px #fff, 1946px 1045px #fff, 772px 1223px #fff, 915px 8px #fff,
    673px 394px #fff, 247px 1124px #fff, 1412px 633px #fff, 1708px 646px #fff,
    425px 1739px #fff, 1582px 1243px #fff, 1188px 679px #fff, 705px 528px #fff,
    1849px 965px #fff, 217px 1771px #fff, 1994px 1279px #fff, 995px 1849px #fff,
    752px 1333px #fff, 798px 1877px #fff, 908px 828px #fff, 1221px 739px #fff,
    803px 1833px #fff, 276px 42px #fff, 1738px 1468px #fff, 3px 1638px #fff,
    1270px 84px #fff, 1875px 1963px #fff, 366px 1838px #fff, 1562px 666px #fff,
    783px 773px #fff, 1760px 1145px #fff, 921px 901px #fff, 1841px 1283px #fff,
    613px 921px #fff, 1585px 1516px #fff, 692px 1073px #fff, 428px 702px #fff,
    554px 1445px #fff, 717px 876px #fff, 161px 371px #fff, 999px 1537px #fff,
    1451px 1934px #fff, 418px 172px #fff, 362px 1298px #fff, 528px 247px #fff,
    696px 251px #fff, 1234px 406px #fff, 372px 449px #fff, 785px 690px #fff,
    1037px 69px #fff, 245px 251px #fff, 1741px 1337px #fff, 255px 512px #fff,
    1483px 33px #fff, 66px 1978px #fff, 1725px 347px #fff, 1622px 389px #fff,
    716px 343px #fff, 574px 1101px #fff, 1665px 748px #fff, 602px 1576px #fff,
    1570px 434px #fff, 576px 925px #fff, 148px 11px #fff, 1893px 1843px #fff,
    1098px 1099px #fff, 1151px 1214px #fff, 1888px 896px #fff, 96px 1064px #fff,
    1675px 1127px #fff, 1129px 12px #fff, 610px 611px #fff, 421px 1818px #fff,
    1813px 1285px #fff, 655px 263px #fff, 1795px 1845px #fff, 1182px 13px #fff,
    404px 680px #fff, 467px 1023px #fff, 1403px 1973px #fff, 1451px 344px #fff,
    1105px 98px #fff, 876px 1876px #fff, 886px 1707px #fff, 435px 680px #fff,
    677px 132px #fff, 328px 799px #fff, 150px 1876px #fff, 927px 1848px #fff,
    558px 1386px #fff, 1051px 1701px #fff, 1773px 1542px #fff, 1277px 48px #fff,
    956px 175px #fff, 1475px 205px #fff, 217px 897px #fff, 533px 386px #fff,
    1131px 209px #fff, 950px 527px #fff, 1738px 261px #fff, 1863px 1358px #fff,
    1095px 1125px #fff, 1688px 1613px #fff, 1473px 1202px #fff,
    538px 1416px #fff, 1967px 1173px #fff, 971px 1650px #fff, 568px 1367px #fff,
    1929px 1273px #fff, 1246px 281px #fff, 1307px 1269px #fff, 445px 1726px #fff,
    1668px 1951px #fff, 1373px 455px #fff, 1392px 1698px #fff, 293px 122px #fff,
    1982px 1238px #fff, 1231px 399px #fff, 672px 220px #fff, 521px 1604px #fff,
    1145px 1084px #fff, 1517px 798px #fff, 1792px 1583px #fff, 57px 1172px #fff,
    1745px 758px #fff, 1077px 1468px #fff, 482px 861px #fff, 1789px 914px #fff,
    1910px 1085px #fff, 822px 1069px #fff, 1008px 1776px #fff, 808px 1359px #fff,
    584px 163px #fff, 381px 967px #fff, 338px 39px #fff, 1707px 804px #fff,
    878px 1368px #fff, 88px 779px #fff, 1346px 508px #fff, 433px 1112px #fff,
    287px 1744px #fff, 1955px 1289px #fff, 276px 1341px #fff, 1415px 860px #fff,
    1182px 192px #fff, 1484px 1px #fff, 1776px 979px #fff, 1731px 159px #fff,
    822px 1313px #fff, 680px 221px #fff, 1889px 1787px #fff, 1744px 1659px #fff,
    1025px 1230px #fff, 481px 122px #fff, 1456px 1554px #fff, 1261px 741px #fff,
    1961px 1238px #fff, 1809px 43px #fff, 1445px 1397px #fff, 873px 1033px #fff,
    1628px 476px #fff, 607px 934px #fff, 647px 113px #fff, 1271px 1472px #fff,
    1047px 55px #fff, 1208px 872px #fff, 1872px 1654px #fff, 1940px 885px #fff,
    935px 1132px #fff, 513px 497px #fff, 385px 1763px #fff, 410px 1138px #fff,
    290px 1714px #fff, 962px 1920px #fff, 315px 285px #fff, 479px 1274px #fff,
    1661px 1762px #fff, 538px 1817px #fff, 783px 591px #fff, 825px 592px #fff,
    33px 557px #fff, 177px 1519px #fff, 1965px 600px #fff, 252px 1876px #fff,
    881px 1395px #fff, 1687px 1952px #fff, 516px 988px #fff, 878px 441px #fff,
    587px 1424px #fff, 830px 379px #fff, 828px 167px #fff, 1541px 477px #fff,
    944px 928px #fff, 1733px 1920px #fff, 1215px 1741px #fff, 34px 774px #fff,
    340px 1121px #fff, 1885px 1844px #fff, 1762px 100px #fff, 928px 1951px #fff,
    540px 263px #fff, 1193px 1557px #fff, 713px 1560px #fff, 1606px 134px #fff,
    496px 1319px #fff, 989px 425px #fff, 533px 1011px #fff, 494px 1430px #fff,
    138px 1559px #fff, 1265px 1165px #fff, 1163px 1744px #fff, 1960px 569px #fff,
    1807px 846px #fff, 7px 1636px #fff, 198px 300px #fff, 1156px 856px #fff,
    1172px 709px #fff, 1547px 99px #fff, 1746px 255px #fff, 940px 1178px #fff,
    1515px 1464px #fff, 57px 317px #fff, 1752px 1837px #fff, 1032px 1903px #fff,
    585px 1588px #fff, 508px 1453px #fff, 748px 689px #fff, 336px 1876px #fff,
    1281px 191px #fff, 1244px 1467px #fff, 846px 1106px #fff, 1127px 768px #fff,
    1153px 1479px #fff, 228px 444px #fff, 1247px 80px #fff, 669px 217px #fff,
    1580px 1717px #fff, 576px 1291px #fff, 664px 235px #fff, 1198px 1225px #fff,
    1164px 589px #fff, 762px 1941px #fff, 1891px 1464px #fff, 1934px 1340px #fff,
    1203px 789px #fff, 996px 15px #fff, 1398px 1803px #fff, 677px 111px #fff,
    226px 929px #fff, 1567px 329px #fff, 837px 1863px #fff, 1984px 130px #fff,
    1220px 214px #fff, 402px 1572px #fff, 1703px 1964px #fff, 859px 493px #fff,
    1360px 1610px #fff, 485px 1490px #fff, 1481px 338px #fff, 672px 246px #fff,
    547px 1829px #fff, 990px 1168px #fff, 1386px 1751px #fff, 480px 1663px #fff,
    501px 569px #fff, 197px 1607px #fff, 1983px 330px #fff, 1047px 60px #fff,
    1053px 184px #fff, 1671px 1493px #fff, 1238px 123px #fff, 1240px 627px #fff,
    654px 1498px #fff, 1007px 30px #fff, 924px 266px #fff, 1963px 213px #fff,
    597px 1930px #fff, 1080px 591px #fff, 700px 1211px #fff, 1839px 1560px #fff,
    1844px 1646px #fff, 280px 1500px #fff, 1237px 1193px #fff, 152px 1663px #fff,
    1040px 1316px #fff, 1273px 1525px #fff, 1451px 656px #fff,
    1231px 1764px #fff, 781px 1230px #fff, 385px 725px #fff, 1680px 1067px #fff,
    1584px 1481px #fff, 228px 1681px #fff, 666px 1804px #fff, 258px 50px #fff,
    168px 841px #fff, 1088px 1952px #fff, 1287px 858px #fff, 1341px 138px #fff,
    422px 1235px #fff, 19px 1708px #fff, 1109px 1103px #fff, 1886px 838px #fff,
    1139px 1390px #fff, 635px 1556px #fff, 1834px 1437px #fff, 553px 651px #fff,
    882px 637px #fff, 839px 253px #fff, 1455px 1627px #fff, 1417px 121px #fff,
    837px 1817px #fff, 391px 1922px #fff, 11px 878px #fff, 1828px 656px #fff,
    878px 106px #fff, 537px 1643px #fff, 774px 1931px #fff, 462px 1124px #fff,
    1073px 747px #fff, 825px 1640px #fff, 445px 1207px #fff, 416px 1689px #fff,
    804px 466px #fff, 392px 1591px #fff, 1348px 784px #fff, 1425px 510px #fff,
    240px 24px #fff, 1001px 874px #fff, 159px 1117px #fff, 368px 1546px #fff,
    424px 789px #fff, 364px 1579px #fff, 102px 6px #fff, 552px 1993px #fff,
    1210px 60px #fff, 1534px 1592px #fff, 75px 1863px #fff, 1057px 1308px #fff,
    286px 1890px #fff, 1089px 1327px #fff, 623px 205px #fff, 434px 1075px #fff,
    339px 675px #fff, 454px 1422px #fff, 1879px 1240px #fff, 221px 993px #fff,
    201px 1820px #fff, 1192px 452px #fff, 1266px 1664px #fff, 1726px 786px #fff,
    542px 160px #fff, 1138px 714px #fff, 736px 1734px #fff, 741px 79px #fff,
    542px 553px #fff, 1279px 390px #fff, 1398px 762px #fff, 934px 18px #fff,
    1901px 340px #fff, 284px 753px #fff, 415px 1209px #fff, 1772px 133px #fff,
    18px 1824px #fff, 1713px 1523px #fff, 1987px 289px #fff, 618px 1067px #fff,
    1683px 618px #fff, 1631px 1644px #fff, 616px 1190px #fff, 774px 1350px #fff,
    1580px 1146px #fff, 505px 1284px #fff, 415px 636px #fff, 1550px 920px #fff,
    383px 1690px #fff, 1870px 818px #fff, 1814px 646px #fff, 1231px 1153px #fff,
    518px 985px #fff, 152px 703px #fff, 1322px 1731px #fff, 1622px 49px #fff,
    1983px 400px #fff, 745px 449px #fff, 1074px 693px #fff, 980px 674px #fff,
    858px 1201px #fff, 707px 1333px #fff, 1089px 950px #fff, 502px 428px #fff,
    1204px 1435px #fff, 1788px 1308px #fff, 1552px 1450px #fff,
    1076px 872px #fff, 704px 564px #fff, 530px 1118px #fff, 524px 746px #fff,
    1296px 751px #fff, 377px 1122px #fff, 1033px 1672px #fff, 271px 1441px #fff,
    366px 841px #fff, 1740px 1692px #fff, 1534px 1266px #fff, 1866px 1919px #fff,
    468px 1888px #fff, 892px 1817px #fff, 484px 560px #fff, 420px 1417px #fff,
    1350px 1842px #fff, 1166px 928px #fff, 1935px 44px #fff, 781px 561px #fff,
    573px 1327px #fff, 129px 1027px #fff, 1861px 1104px #fff, 1145px 1710px #fff,
    1272px 689px #fff, 1614px 1555px #fff, 1129px 1641px #fff, 541px 22px #fff,
    151px 1604px #fff, 1193px 1250px #fff, 158px 1508px #fff, 133px 880px #fff,
    1067px 1922px #fff, 271px 1643px #fff, 1694px 64px #fff, 1733px 1059px #fff,
    1514px 112px #fff, 708px 1305px #fff, 1981px 108px #fff, 158px 554px #fff,
    842px 168px #fff, 1492px 1268px #fff, 1935px 570px #fff, 1340px 682px #fff,
    1929px 1184px #fff, 1704px 1319px #fff, 7px 338px #fff, 1724px 1478px #fff,
    883px 1093px #fff, 1821px 1758px #fff, 6px 1173px #fff, 861px 791px #fff,
    674px 980px #fff, 988px 1348px #fff, 1624px 1485px #fff, 1582px 1466px #fff,
    1240px 1635px #fff, 382px 1418px #fff, 1927px 1764px #fff, 700px 1390px #fff,
    766px 1132px #fff, 638px 1457px #fff, 1893px 1399px #fff, 1132px 458px #fff,
    1752px 1527px #fff, 751px 1950px #fff, 847px 1913px #fff, 1215px 213px #fff,
    238px 1032px #fff, 923px 818px #fff, 1024px 600px #fff, 1302px 800px #fff,
    1570px 651px #fff, 1477px 1877px #fff, 1052px 384px #fff, 1794px 387px #fff,
    1234px 895px #fff, 372px 1933px #fff, 1955px 1191px #fff, 1975px 102px #fff,
    1394px 15px #fff, 113px 480px #fff, 159px 649px #fff, 964px 1434px #fff,
    472px 1684px #fff, 839px 1982px #fff, 291px 1639px #fff, 1981px 374px #fff,
    1418px 1921px #fff, 1452px 1150px #fff, 312px 390px #fff, 1328px 1981px #fff,
    1608px 896px #fff, 51px 1934px #fff, 1589px 679px #fff, 1872px 1834px #fff,
    299px 1146px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 848px 37px #fff, 278px 1207px #fff, 927px 1596px #fff,
    784px 1028px #fff, 104px 1307px #fff, 1541px 582px #fff, 1844px 172px #fff,
    612px 1550px #fff, 1294px 235px #fff, 1686px 1605px #fff, 1913px 1281px #fff,
    209px 1336px #fff, 45px 1542px #fff, 511px 1727px #fff, 10px 1683px #fff,
    1320px 410px #fff, 259px 1796px #fff, 1064px 498px #fff, 1901px 1809px #fff,
    1265px 1209px #fff, 1437px 933px #fff, 852px 108px #fff, 1527px 538px #fff,
    603px 1138px #fff, 3px 623px #fff, 630px 1583px #fff, 783px 824px #fff,
    739px 261px #fff, 1383px 1043px #fff, 904px 300px #fff, 1853px 1082px #fff,
    1017px 1603px #fff, 894px 1315px #fff, 349px 299px #fff, 1583px 1106px #fff,
    316px 705px #fff, 1506px 1149px #fff, 322px 579px #fff, 407px 736px #fff,
    90px 277px #fff, 1625px 1473px #fff, 78px 435px #fff, 289px 764px #fff,
    1453px 144px #fff, 1458px 1507px #fff, 667px 1662px #fff, 224px 856px #fff,
    1142px 1858px #fff, 603px 1083px #fff, 942px 1945px #fff, 465px 1154px #fff,
    499px 1387px #fff, 1286px 1305px #fff, 1115px 1440px #fff, 496px 542px #fff,
    1392px 1313px #fff, 532px 1081px #fff, 747px 624px #fff, 1070px 1205px #fff,
    1228px 416px #fff, 210px 1523px #fff, 899px 107px #fff, 790px 1805px #fff,
    22px 1273px #fff, 1962px 10px #fff, 586px 457px #fff, 322px 375px #fff,
    189px 579px #fff, 1566px 1036px #fff, 1654px 565px #fff, 1999px 527px #fff,
    1751px 153px #fff, 629px 1511px #fff, 81px 1454px #fff, 1978px 1575px #fff,
    439px 110px #fff, 306px 1901px #fff, 130px 207px #fff, 1015px 1115px #fff,
    995px 1183px #fff, 201px 1762px #fff, 1393px 301px #fff, 50px 1372px #fff,
    1906px 821px #fff, 271px 1416px #fff, 1375px 1273px #fff, 1308px 1283px #fff,
    1665px 1277px #fff, 579px 799px #fff, 1616px 1202px #fff, 373px 703px #fff,
    84px 482px #fff, 657px 1902px #fff, 313px 1149px #fff, 877px 1206px #fff,
    1467px 1557px #fff, 1635px 1674px #fff, 469px 1635px #fff, 181px 21px #fff,
    843px 1167px #fff, 1722px 1468px #fff, 1595px 1960px #fff, 1767px 227px #fff,
    1587px 1389px #fff, 530px 612px #fff, 899px 1292px #fff, 1363px 1106px #fff,
    1087px 803px #fff, 1265px 471px #fff, 725px 193px #fff, 360px 714px #fff,
    1560px 1054px #fff, 180px 1802px #fff, 1503px 1544px #fff, 1911px 567px #fff,
    569px 1126px #fff, 706px 1883px #fff, 458px 534px #fff, 1268px 1022px #fff,
    926px 1436px #fff, 1134px 1816px #fff, 1511px 476px #fff, 316px 383px #fff,
    408px 1560px #fff, 1502px 96px #fff, 798px 1341px #fff, 480px 1610px #fff,
    412px 1470px #fff, 1538px 1675px #fff, 1021px 1833px #fff, 517px 1186px #fff,
    979px 217px #fff, 49px 556px #fff, 1759px 1397px #fff, 701px 375px #fff,
    1506px 1565px #fff, 695px 854px #fff, 301px 133px #fff, 237px 1188px #fff,
    1456px 454px #fff, 649px 1913px #fff, 1067px 1802px #fff, 1609px 1404px #fff,
    872px 230px #fff, 916px 40px #fff, 1452px 1799px #fff, 958px 428px #fff,
    270px 76px #fff, 1569px 709px #fff, 76px 943px #fff, 1622px 313px #fff,
    438px 1492px #fff, 829px 1734px #fff, 657px 87px #fff, 1775px 1653px #fff,
    1205px 1927px #fff, 573px 1036px #fff, 283px 964px #fff, 1099px 644px #fff,
    1570px 444px #fff, 1428px 1310px #fff, 889px 1488px #fff, 1477px 62px #fff,
    1051px 1939px #fff, 675px 1709px #fff, 1417px 1121px #fff,
    1264px 1102px #fff, 1339px 1609px #fff, 914px 1269px #fff,
    1946px 1984px #fff, 51px 550px #fff, 68px 1601px #fff, 1262px 658px #fff,
    1103px 1875px #fff, 86px 1693px #fff, 1511px 946px #fff, 683px 109px #fff,
    369px 984px #fff, 837px 390px #fff, 1351px 384px #fff, 57px 1383px #fff,
    984px 1712px #fff, 101px 1586px #fff, 1878px 1681px #fff, 1458px 1349px #fff,
    1928px 689px #fff, 219px 670px #fff, 1771px 529px #fff, 1862px 1608px #fff,
    307px 135px #fff, 981px 455px #fff, 630px 666px #fff, 470px 491px #fff,
    729px 787px #fff, 832px 587px #fff, 399px 735px #fff, 807px 1624px #fff,
    461px 967px #fff, 661px 1237px #fff, 1041px 968px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 848px 37px #fff, 278px 1207px #fff, 927px 1596px #fff,
    784px 1028px #fff, 104px 1307px #fff, 1541px 582px #fff, 1844px 172px #fff,
    612px 1550px #fff, 1294px 235px #fff, 1686px 1605px #fff, 1913px 1281px #fff,
    209px 1336px #fff, 45px 1542px #fff, 511px 1727px #fff, 10px 1683px #fff,
    1320px 410px #fff, 259px 1796px #fff, 1064px 498px #fff, 1901px 1809px #fff,
    1265px 1209px #fff, 1437px 933px #fff, 852px 108px #fff, 1527px 538px #fff,
    603px 1138px #fff, 3px 623px #fff, 630px 1583px #fff, 783px 824px #fff,
    739px 261px #fff, 1383px 1043px #fff, 904px 300px #fff, 1853px 1082px #fff,
    1017px 1603px #fff, 894px 1315px #fff, 349px 299px #fff, 1583px 1106px #fff,
    316px 705px #fff, 1506px 1149px #fff, 322px 579px #fff, 407px 736px #fff,
    90px 277px #fff, 1625px 1473px #fff, 78px 435px #fff, 289px 764px #fff,
    1453px 144px #fff, 1458px 1507px #fff, 667px 1662px #fff, 224px 856px #fff,
    1142px 1858px #fff, 603px 1083px #fff, 942px 1945px #fff, 465px 1154px #fff,
    499px 1387px #fff, 1286px 1305px #fff, 1115px 1440px #fff, 496px 542px #fff,
    1392px 1313px #fff, 532px 1081px #fff, 747px 624px #fff, 1070px 1205px #fff,
    1228px 416px #fff, 210px 1523px #fff, 899px 107px #fff, 790px 1805px #fff,
    22px 1273px #fff, 1962px 10px #fff, 586px 457px #fff, 322px 375px #fff,
    189px 579px #fff, 1566px 1036px #fff, 1654px 565px #fff, 1999px 527px #fff,
    1751px 153px #fff, 629px 1511px #fff, 81px 1454px #fff, 1978px 1575px #fff,
    439px 110px #fff, 306px 1901px #fff, 130px 207px #fff, 1015px 1115px #fff,
    995px 1183px #fff, 201px 1762px #fff, 1393px 301px #fff, 50px 1372px #fff,
    1906px 821px #fff, 271px 1416px #fff, 1375px 1273px #fff, 1308px 1283px #fff,
    1665px 1277px #fff, 579px 799px #fff, 1616px 1202px #fff, 373px 703px #fff,
    84px 482px #fff, 657px 1902px #fff, 313px 1149px #fff, 877px 1206px #fff,
    1467px 1557px #fff, 1635px 1674px #fff, 469px 1635px #fff, 181px 21px #fff,
    843px 1167px #fff, 1722px 1468px #fff, 1595px 1960px #fff, 1767px 227px #fff,
    1587px 1389px #fff, 530px 612px #fff, 899px 1292px #fff, 1363px 1106px #fff,
    1087px 803px #fff, 1265px 471px #fff, 725px 193px #fff, 360px 714px #fff,
    1560px 1054px #fff, 180px 1802px #fff, 1503px 1544px #fff, 1911px 567px #fff,
    569px 1126px #fff, 706px 1883px #fff, 458px 534px #fff, 1268px 1022px #fff,
    926px 1436px #fff, 1134px 1816px #fff, 1511px 476px #fff, 316px 383px #fff,
    408px 1560px #fff, 1502px 96px #fff, 798px 1341px #fff, 480px 1610px #fff,
    412px 1470px #fff, 1538px 1675px #fff, 1021px 1833px #fff, 517px 1186px #fff,
    979px 217px #fff, 49px 556px #fff, 1759px 1397px #fff, 701px 375px #fff,
    1506px 1565px #fff, 695px 854px #fff, 301px 133px #fff, 237px 1188px #fff,
    1456px 454px #fff, 649px 1913px #fff, 1067px 1802px #fff, 1609px 1404px #fff,
    872px 230px #fff, 916px 40px #fff, 1452px 1799px #fff, 958px 428px #fff,
    270px 76px #fff, 1569px 709px #fff, 76px 943px #fff, 1622px 313px #fff,
    438px 1492px #fff, 829px 1734px #fff, 657px 87px #fff, 1775px 1653px #fff,
    1205px 1927px #fff, 573px 1036px #fff, 283px 964px #fff, 1099px 644px #fff,
    1570px 444px #fff, 1428px 1310px #fff, 889px 1488px #fff, 1477px 62px #fff,
    1051px 1939px #fff, 675px 1709px #fff, 1417px 1121px #fff,
    1264px 1102px #fff, 1339px 1609px #fff, 914px 1269px #fff,
    1946px 1984px #fff, 51px 550px #fff, 68px 1601px #fff, 1262px 658px #fff,
    1103px 1875px #fff, 86px 1693px #fff, 1511px 946px #fff, 683px 109px #fff,
    369px 984px #fff, 837px 390px #fff, 1351px 384px #fff, 57px 1383px #fff,
    984px 1712px #fff, 101px 1586px #fff, 1878px 1681px #fff, 1458px 1349px #fff,
    1928px 689px #fff, 219px 670px #fff, 1771px 529px #fff, 1862px 1608px #fff,
    307px 135px #fff, 981px 455px #fff, 630px 666px #fff, 470px 491px #fff,
    729px 787px #fff, 832px 587px #fff, 399px 735px #fff, 807px 1624px #fff,
    461px 967px #fff, 661px 1237px #fff, 1041px 968px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1790px 360px #fff, 1384px 1743px #fff, 148px 525px #fff,
    1992px 1090px #fff, 1241px 1600px #fff, 1007px 1767px #fff,
    1302px 1814px #fff, 611px 169px #fff, 1431px 308px #fff, 197px 1939px #fff,
    1736px 1959px #fff, 1559px 977px #fff, 1108px 279px #fff, 839px 652px #fff,
    1354px 1498px #fff, 1178px 772px #fff, 457px 1870px #fff, 1970px 559px #fff,
    1082px 1392px #fff, 1922px 163px #fff, 136px 1412px #fff, 284px 910px #fff,
    338px 1002px #fff, 506px 1521px #fff, 1699px 1094px #fff, 98px 1378px #fff,
    1537px 1772px #fff, 1742px 949px #fff, 596px 113px #fff, 430px 471px #fff,
    1039px 472px #fff, 806px 1266px #fff, 595px 735px #fff, 395px 1546px #fff,
    678px 918px #fff, 1556px 1593px #fff, 657px 1944px #fff, 181px 1169px #fff,
    1603px 1242px #fff, 823px 1402px #fff, 924px 1591px #fff, 791px 1928px #fff,
    573px 338px #fff, 133px 1516px #fff, 34px 394px #fff, 51px 238px #fff,
    1775px 1483px #fff, 171px 635px #fff, 375px 9px #fff, 1054px 496px #fff,
    902px 902px #fff, 763px 1492px #fff, 1864px 1121px #fff, 1764px 1651px #fff,
    703px 1565px #fff, 860px 1492px #fff, 413px 28px #fff, 1072px 1410px #fff,
    89px 523px #fff, 1546px 683px #fff, 692px 1363px #fff, 2px 1253px #fff,
    327px 1921px #fff, 874px 1332px #fff, 1066px 911px #fff, 1060px 202px #fff,
    482px 1270px #fff, 1381px 295px #fff, 121px 1419px #fff, 179px 874px #fff,
    1435px 718px #fff, 1915px 811px #fff, 1332px 1168px #fff, 348px 1329px #fff,
    1292px 1370px #fff, 1151px 397px #fff, 716px 44px #fff, 1366px 541px #fff,
    1122px 1437px #fff, 1206px 291px #fff, 1085px 273px #fff, 1426px 1598px #fff,
    1930px 1135px #fff, 586px 1833px #fff, 1619px 1029px #fff, 1317px 429px #fff,
    827px 1352px #fff, 1019px 1900px #fff, 1066px 386px #fff, 233px 930px #fff,
    654px 1884px #fff, 1543px 1000px #fff, 372px 391px #fff, 757px 852px #fff,
    1528px 739px #fff, 103px 1920px #fff, 1252px 858px #fff, 138px 1733px #fff,
    1234px 1891px #fff, 551px 1314px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1790px 360px #fff, 1384px 1743px #fff, 148px 525px #fff,
    1992px 1090px #fff, 1241px 1600px #fff, 1007px 1767px #fff,
    1302px 1814px #fff, 611px 169px #fff, 1431px 308px #fff, 197px 1939px #fff,
    1736px 1959px #fff, 1559px 977px #fff, 1108px 279px #fff, 839px 652px #fff,
    1354px 1498px #fff, 1178px 772px #fff, 457px 1870px #fff, 1970px 559px #fff,
    1082px 1392px #fff, 1922px 163px #fff, 136px 1412px #fff, 284px 910px #fff,
    338px 1002px #fff, 506px 1521px #fff, 1699px 1094px #fff, 98px 1378px #fff,
    1537px 1772px #fff, 1742px 949px #fff, 596px 113px #fff, 430px 471px #fff,
    1039px 472px #fff, 806px 1266px #fff, 595px 735px #fff, 395px 1546px #fff,
    678px 918px #fff, 1556px 1593px #fff, 657px 1944px #fff, 181px 1169px #fff,
    1603px 1242px #fff, 823px 1402px #fff, 924px 1591px #fff, 791px 1928px #fff,
    573px 338px #fff, 133px 1516px #fff, 34px 394px #fff, 51px 238px #fff,
    1775px 1483px #fff, 171px 635px #fff, 375px 9px #fff, 1054px 496px #fff,
    902px 902px #fff, 763px 1492px #fff, 1864px 1121px #fff, 1764px 1651px #fff,
    703px 1565px #fff, 860px 1492px #fff, 413px 28px #fff, 1072px 1410px #fff,
    89px 523px #fff, 1546px 683px #fff, 692px 1363px #fff, 2px 1253px #fff,
    327px 1921px #fff, 874px 1332px #fff, 1066px 911px #fff, 1060px 202px #fff,
    482px 1270px #fff, 1381px 295px #fff, 121px 1419px #fff, 179px 874px #fff,
    1435px 718px #fff, 1915px 811px #fff, 1332px 1168px #fff, 348px 1329px #fff,
    1292px 1370px #fff, 1151px 397px #fff, 716px 44px #fff, 1366px 541px #fff,
    1122px 1437px #fff, 1206px 291px #fff, 1085px 273px #fff, 1426px 1598px #fff,
    1930px 1135px #fff, 586px 1833px #fff, 1619px 1029px #fff, 1317px 429px #fff,
    827px 1352px #fff, 1019px 1900px #fff, 1066px 386px #fff, 233px 930px #fff,
    654px 1884px #fff, 1543px 1000px #fff, 372px 391px #fff, 757px 852px #fff,
    1528px 739px #fff, 103px 1920px #fff, 1252px 858px #fff, 138px 1733px #fff,
    1234px 1891px #fff, 551px 1314px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
